<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="toggleSwitch()">
  <label class="form-check-label" for="flexSwitchCheckDefault">Invertir valor</label>
</div>
<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Asistencia</th>
      <th>Puntualidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let miembro of listaMiembros">
      <td>{{miembro.nombreCompleto}}</td>
      <td>
        <button
          type="button"
          class="btn btn-success"
          [ngClass]="{
            'btn-success': getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.ASISTENCIA),
            'btn-danger': !getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.ASISTENCIA)
          }"
          (click)="toggleRegistro(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.ASISTENCIA)">
          <span *ngIf="getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.ASISTENCIA)">✅</span>
          <span *ngIf="!getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.ASISTENCIA)">❌</span>
        </button>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-success"
          [ngClass]="{
            'btn-success': getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.PUNTUALIDAD),
            'btn-danger': !getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.PUNTUALIDAD)
          }"
          (click)="toggleRegistro(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.PUNTUALIDAD)">
          <span *ngIf="getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.PUNTUALIDAD)">✅</span>
          <span *ngIf="!getAsistenciaPuntualidad(miembro.registroPuntajeRegla, asistenciaPuntualidadEnum.PUNTUALIDAD)">❌</span>
        </button>
      </td>
    </tr>
  </tbody>
</table> -->